name: CI
on:
  push:
    branches: main
    paths: br/**
  pull_request:
    branches: main
    paths: br/**

permissions:
  contents: read

jobs:
  br-check-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - name: make check/tidy
        shell: bash
        run: |
          cd br
          make check/tidy
  br-check-golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - name: make check/golangci-lint
        shell: bash
        run: |
          cd br
          make check/golangci-lint
  br-check-gosec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - name: make check/gosec
        shell: bash
        run: |
          cd br
          make check/gosec
  br-unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - name: make test
        shell: bash
        run: |
          cd br
          make test
  br-integration-test:
    name: br-integration-test-${{ matrix.tikv_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tikv_version: [nightly]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - name: install tiup
        run: curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
      - name: start tikv cluster
        run: |
          # start tikv in apiv1ttl
          /home/runner/.tiup/bin/tiup playground ${{ matrix.tikv_version }} --mode tikv-slim --kv 1 --without-monitor --kv.config /home/runner/work/migration/migration/.github/config/br_rawkv.toml --pd.config /home/runner/work/migration/migration/.github/config/br_pd.toml &> raw.out 2>&1 &
          # The first run of `tiup` has to download all components so it'll take longer.
          sleep 1m 30s
          # Parse PD address from `tiup` output
          echo "PD_ADDR=$(cat raw.out | grep -oP '(?<=PD client endpoints: \[)[0-9\.:]+(?=\])')" >> $GITHUB_ENV
          # Log the output
          echo "$(cat raw.out)" >&2
      - name: run integration test
        run: |
          cd br
          make test/integration
# comments low version CI as they fail without checksum & split region capability.
# Plan to support low version with feature gate in the future.
#  br-integration-test-5X:
#    # Separate integration tests of v5.X, to distinguish whether failure would be caused by compatibility of old versions.
#    name: br-integration-test-5X-${{ matrix.tikv_version }}
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        tikv_version: [v5.0.0, v5.1.0, v5.2.0, v5.3.0, v5.4.0, v6.0.0]
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-go@v2
#        with:
#          go-version: '1.16.1'
#      - name: install tiup
#        run: curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
#      - name: start tikv cluster
#        run: |
#          # start tikv in apiv1ttl
#          /home/runner/.tiup/bin/tiup playground ${{ matrix.tikv_version }} --mode tikv-slim --kv 1 --without-monitor --kv.config /home/runner/work/migration/migration/.github/config/br_rawkv.toml --pd.config /home/runner/work/migration/migration/.github/config/br_pd.toml &> raw.out 2>&1 &
#          # The first run of `tiup` has to download all components so it'll take longer.
#          sleep 1m 30s
#          # Parse PD address from `tiup` output
#          echo "PD_ADDR=$(cat raw.out | grep -oP '(?<=PD client endpoints: \[)[0-9\.:]+(?=\])')" >> $GITHUB_ENV
#          # Log the output
#          echo "$(cat raw.out)" >&2
#      - name: run integration test
#        run: |
#          cd br
#          make test/integration
